*{ 
    margin: 0; 
    padding: 0; 
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #aacd97;
    padding: 10px;

}

.to-do {
    width: 100%;
    max-width: 1000px;
    background: #27533f;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 13px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

.to-do h2 {
    font-size: 40px;
    color: #aacd97;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do h2 img {
    position: relative;
    width: 90px;
    margin-left: 4px;
}

.row {
    display: flex;
    align-items: center;
    background: none;
    gap: 12px;
    padding-left : 0px;
  
}

input{
    flex : 1;
    height: 60px;
    border: none;
    outline: none;
    background: #e5e4e4;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    padding-left: 20px;
    
}

input:focus::placeholder{
    color: transparent;
    transition: all 0.1s ease;
}

button {
    border: none;
    outline: none;
    padding : 18px 24px;
    background: #aacd97;
    color: #27533f;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
    border-radius: 7px;
    transition:all 0.3s ease
}

.row button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2)
}
ul li {
    list-style: none;
    font-size: 18px;
    padding: 24px 8px 12px 50px;
    border-bottom: 1px solid #aacd97;
    position: relative;
    cursor: pointer;
    color: #fcf7f7;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 24px;
    left: 8px;
}

ul li.checked{
    text-decoration: line-through;
    color: #aacd97;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 16px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: #aacd97;
    border-radius: 100px;
}