*{ 
    margin: 0; 
    padding: 0; 
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #EEAECA;
background: linear-gradient(141deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 10px;

}

.to-do {
    width: 100%;
    max-width: 1000px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 13px;
    border: #ec98ff 3px solid;
}

.to-do h2 {
    font-size: 32px;
    color: #212121;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do h2 img {
    width: 80px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    background: none;
    gap: 12px;
    padding-left : 0px;
  
}

input{
    flex : 1;
    height: 60px;
    border: none;
    outline: none;
    background: #e5e4e4;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    
}

button {
    border: none;
    outline: none;
    padding : 16px 20px;
    background: #d34ff0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

ul li {
    list-style: none;
    font-size: 18px;
    padding: 24px 8px 12px 50px;
    border-bottom: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/icons8-circle-50.png);
    background-size: cover;
    background-position: center;
    top: 24px;
    left: 8px;
}

ul li.checked{
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before{
    background-image: url(images/Frame\ 3.png);
}

