*{ 
    margin: 0; 
    padding: 0; 
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #EEAECA;
background: linear-gradient(141deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 10px;

}

.to-do {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 13px;
}

.to-do h2 {
    font-size: 24px;
    color: #212121;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do h2 img {
    width: 80px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    background: #e5e4e4;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left : 20px;
    margin-bottom: 20px;
}

input{
    flex : 1;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding : 16px 50px;
    background: #d34ff0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}